* {
  box-sizing: border-box;
}

.group443 {
  position: relative;
  width: 467px;
  height: 192px;

  .h4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 467px;
    height: 192px;
    line-height: 64px;
    letter-spacing: -0.25px;
    color: var(--Miscellaneous-Text-Field---BG, #ffffff);
    font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 57px;
  }

  .group431 {
    display: flex;
    position: absolute;
    top: 137px;
    left: 133px;
    align-items: flex-start;
    padding-right: 1px;
    width: 42px;
    height: 42px;

    .ellipse11 {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      background: var(--Backgrounds-Primary, #ffffff);
      width: 14px;
      height: 14px;
    }

    .ellipse10 {
      border-radius: 50%;
      background: var(--Backgrounds-Primary, #ffffff);
      width: 14px;
      height: 14px;
    }

    .autoWrapper2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;

      .autoWrapper {
        position: relative;
        margin-top: 1px;
        width: 14px;
        height: 14px;

        .ellipse12 {
          position: absolute;
          bottom: -14px;
          left: -1px;
          border-radius: 50%;
          background: var(--Backgrounds-Primary, #ffffff);
          width: 14px;
          height: 14px;
        }
      }
    }

    .autoWrapper4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      margin-left: 1px;

      .autoWrapper3 {
        position: relative;
        margin-top: 14px;
        width: 14px;
        height: 14px;

        .ellipse8 {
          position: absolute;
          top: -14px;
          left: -1px;
          border-radius: 50%;
          background: var(--Backgrounds-Primary, #ffffff);
          width: 14px;
          height: 14px;
        }
      }
    }

    .autoWrapper5 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      margin-left: 1px;

      .ellipse13 {
        margin-top: 1px;
        border-radius: 50%;
        background: var(--Backgrounds-Primary, #ffffff);
        width: 14px;
        height: 14px;
      }
    }
  }
}
