* {
  box-sizing: border-box;
}

.group427 {
  display: flex;
  align-items: center;
  opacity: 0.5;
  padding-right: 1px;
  width: 267px;
  height: 267px;

  .ellipse2 {
    margin-top: 17px;
    border: 1px solid #56aceb;
    border-radius: 50%;
    width: 9px;
    height: 9px;
  }

  .ellipse {
    border: 1px solid #56aceb;
    border-radius: 50%;
    width: 9px;
    height: 9px;
  }

  .autoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-left: -1px;
  }

  .autoWrapper2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-left: 17px;
  }
}
