* {
  box-sizing: border-box;
}

.login {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding: 23px 23px 24px 814px;
  width: 1920px;
  height: 1080px;
  overflow: hidden;

  .autoWrapper6 {
    position: absolute;
    top: -133px;
    left: 1px;
    width: 1315px;
    height: 1429px;

    .rectangle62 {
      position: absolute;
      top: 133px;
      left: 0;
      width: 1315px;
      height: 1080px;
      rotate: -180deg;
      background-image: linear-gradient(
        180.03deg,
        #58b1f0 0.03%,
        #04142c 99.97%
      );
    }

    .freepikCandidImagePh {
      position: absolute;
      top: 0;
      left: 64px;
      width: 674px;
      height: 1429px;
    }

    .group443 {
      position: absolute;
      top: 869px;
      left: 765px;
      width: 467px;
      height: 192px;

      .h4 {
        position: absolute;
        top: 0;
        left: 0;
        width: 467px;
        height: 192px;
        line-height: 64px;
        letter-spacing: -0.25px;
        color: var(--Miscellaneous-Text-Field---BG, #ffffff);
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 57px;
      }

      .group431 {
        display: flex;
        position: absolute;
        top: 137px;
        left: 133px;
        align-items: flex-start;
        padding-right: 1px;
        width: 42px;
        height: 42px;

        .ellipse11 {
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 50%;
          background: var(--Backgrounds-Primary, #ffffff);
          width: 14px;
          height: 14px;
        }

        .ellipse10 {
          border-radius: 50%;
          background: var(--Backgrounds-Primary, #ffffff);
          width: 14px;
          height: 14px;
        }

        .autoWrapper2 {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;

          .autoWrapper {
            position: relative;
            margin-top: 1px;
            width: 14px;
            height: 14px;

            .ellipse12 {
              position: absolute;
              bottom: -14px;
              left: -1px;
              border-radius: 50%;
              background: var(--Backgrounds-Primary, #ffffff);
              width: 14px;
              height: 14px;
            }
          }
        }

        .autoWrapper4 {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;
          margin-left: 1px;

          .autoWrapper3 {
            position: relative;
            margin-top: 14px;
            width: 14px;
            height: 14px;

            .ellipse8 {
              position: absolute;
              top: -14px;
              left: -1px;
              border-radius: 50%;
              background: var(--Backgrounds-Primary, #ffffff);
              width: 14px;
              height: 14px;
            }
          }
        }

        .autoWrapper5 {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;
          margin-left: 1px;

          .ellipse13 {
            margin-top: 1px;
            border-radius: 50%;
            background: var(--Backgrounds-Primary, #ffffff);
            width: 14px;
            height: 14px;
          }
        }
      }
    }
  }

  .autoWrapper20 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding-right: 0;
    padding-left: 0;

    .autoWrapper8 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      margin-left: 9px;
    }

    .autoWrapper7 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
    }

    .group433 {
      display: flex;
      align-items: center;
      align-self: stretch;
      opacity: 0.25;
      margin-left: 951px;

      .ellipse2 {
        margin-top: 9px;
        border: 1px solid
          var(--Miscellaneous-Floating-Tab---Text-Selected, #007aff);
        border-radius: 50%;
        width: 4px;
        height: 4px;
      }

      .ellipse {
        border: 1px solid
          var(--Miscellaneous-Floating-Tab---Text-Selected, #007aff);
        border-radius: 50%;
        width: 4px;
        height: 4px;
      }
    }

    .autoWrapper19 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 36px;
      padding-right: 54px;
      padding-left: 0;

      .autoWrapper12 {
        position: relative;
        width: 267px;
        height: 267px;

        .ellipse4 {
          margin-top: 17px;
          border: 1px solid #56aceb;
          border-radius: 50%;
          width: 9px;
          height: 9px;
        }

        .ellipse3 {
          border: 1px solid #56aceb;
          border-radius: 50%;
          width: 9px;
          height: 9px;
        }

        .group427 {
          display: flex;
          position: absolute;
          top: -130px;
          right: -155px;
          align-items: center;
          opacity: 0.5;
          padding-right: 1px;
          width: 267px;
          height: 267px;

          .autoWrapper9 {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: stretch;
            margin-left: -1px;
          }

          .autoWrapper10 {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: stretch;
            margin-left: 17px;
          }
        }

        .group436 {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          align-items: center;
          justify-content: space-between;
          opacity: 0.5;
          padding: 1px;
          width: 267px;
          height: 267px;

          .autoWrapper11 {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: stretch;
          }
        }
      }

      .autoWrapper18 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 16px;
        margin-left: 312px;

        .group4332 {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          margin-right: 96px;
          margin-left: 154px;
          min-width: 200px;
          height: 43px;

          .group4312 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-right: 12px;

            .ellipse14 {
              position: absolute;
              top: 0;
              right: -12px;
              border-radius: 50%;
              background: var(--Color-primary, #294787);
              width: 12px;
              height: 12px;
            }

            .ellipse9 {
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 50%;
              background: var(--Color-primary, #294787);
              width: 12px;
              height: 12px;
            }

            .ellipse102 {
              border-radius: 50%;
              background: var(--Color-primary, #294787);
              width: 12px;
              height: 12px;
            }

            .autoWrapper14 {
              display: flex;
              align-items: center;
              align-self: stretch;
              padding-right: 0;
              padding-left: 0;

              .autoWrapper13 {
                position: relative;
                width: 12px;
                height: 12px;
              }
            }

            .autoWrapper16 {
              display: flex;
              align-items: center;
              align-self: stretch;
              margin-top: 1px;
              padding-right: 0;
              padding-left: 1px;

              .autoWrapper15 {
                position: relative;
                margin-left: -1px;
                width: 12px;
                height: 12px;
              }
            }

            .autoWrapper17 {
              display: flex;
              align-items: center;
              align-self: stretch;
              padding-right: 0;
              padding-left: 1px;

              .ellipse7 {
                margin-left: -1px;
                border-radius: 50%;
                background: var(--Color-primary, #294787);
                width: 12px;
                height: 12px;
              }
            }
          }

          .nossoRh {
            width: 146px;
            text-align: center;
            line-height: 43px;
            letter-spacing: 0;
            color: var(--sds-color-text-default-default);
            font-family: "Ubuntu Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 32px;
            font-weight: 700;
          }
        }

        .h6 {
          margin: 80px 0px 0px 128px;
          line-height: 32px;
          letter-spacing: 0.15px;
          color: var(--text-primary, #000000de);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 500;
        }

        .group434 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 40px;

          .placeholder {
            flex-grow: 1;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: var(--text-disabled, #00000061);
            font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
          }

          .labelContainer {
            display: inline-flex;
            position: absolute;
            top: -1px;
            left: 11px;
            flex-shrink: 0;
            align-items: center;
            column-gap: 10px;
            background: var(--background-paper-elevation-0, #ffffff);
            padding-right: 4px;
            padding-left: 4px;
            width: 42px;
            height: 2px;

            .label {
              flex-shrink: 0;
              line-height: 12px;
              letter-spacing: 0.15px;
              color: var(--text-secondary, #00000099);
              font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
            }
          }

          .aIcon {
            display: inline-flex;
            flex-shrink: 0;
            align-items: flex-start;
            padding-right: 8px;

            .mailFilled {
              flex-shrink: 0;
              width: 24px;
              height: 24px;
              overflow: hidden;
            }
          }

          .content {
            display: flex;
            position: relative;
            align-items: center;
            border: 1px solid #0000003b;
            border-radius: 4px;
            padding: 15px 11px;
            width: 450px;
            overflow: hidden;
          }

          .content2 {
            display: flex;
            position: relative;
            align-items: center;
            margin-top: 40px;
            border: 1px solid #0000003b;
            border-radius: 4px;
            padding: 15px 11px;
            width: 450px;
            overflow: hidden;
          }

          .aLink {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            margin-top: 16px;
            margin-right: 307px;

            .link {
              flex-shrink: 0;
              line-height: 24px;
              letter-spacing: 0.15px;
              color: var(--primary-main, #2196f3);
              font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }

            .underline {
              flex-shrink: 0;
              align-self: stretch;
              width: 143px;
              height: 1px;
            }
          }

          .base {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 8px;
            margin-top: 32px;
            margin-left: 2px;
            border-radius: 4px;
            box-shadow: var(
              --elevation-2,
              0px 1px 5px 0px #0000001f,
              0px 2px 2px 0px #00000024,
              0px 3px 1px -2px #00000033
            );
            background: var(--Color-primary, #294787);
            padding: 8px 22px;
            width: 448px;

            .button {
              flex-shrink: 0;
              line-height: 26px;
              letter-spacing: 0.46px;
              color: var(--primary-contrast, #ffffff);
              font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 15px;
              font-weight: 500;
              text-transform: UPPERCASE;
            }
          }
        }
      }
    }

    .group435 {
      display: flex;
      align-items: center;
      align-self: stretch;
      opacity: 0.25;
      margin: 256px 422px 0px 529px;
    }
  }
}
